git_test_dominic/git_test_dominic.opensdf
git_test_dominic/git_test_dominic.sdf
git_test_dominic/git_test_dominic.sln
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/CL.read.1.tlog
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/CL.write.1.tlog
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/cl.command.1.tlog
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/git_test_dominic.lastbuildstate
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/link.command.1.tlog
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/link.read.1.tlog
git_test_dominic/git_test_dominic/Debug/git_test_dominic.tlog/link.write.1.tlog
git_test_dominic/git_test_dominic/Debug/vc120.idb
git_test_dominic/git_test_dominic/git_test_dominic.vcxproj
git_test_dominic/git_test_dominic/git_test_dominic.vcxproj.filters
